body{
    margin: 0 auto;
    padding: 0;
}
.gg_bg{
    background: url('https://i.ytimg.com/vi/9A4m0xzGOqM/maxresdefault.jpg') center/ cover no-repeat;
    height: 100vh;
}
.gg_title{
    padding-top: 2%;
    padding-left: 3.7%;
    width: 45%;
    color: white;
}
.gg_title p{
    margin-bottom: 15%;
}
.gg_title a{
    text-decoration: none;
    text-transform: none;
    color: white;
    padding: 2% 5%;
    border: 1px solid white;
    text-align: center;
    transition: .5s;
}
.gg_title a:hover{
    background-color: white;
    color: black;
    text-overflow: none;
}
/* links */
.links{
    padding-top: 2%;
    padding-left: 3.7%;
    color: white;
}
.links a{
    text-decoration: none;
    text-transform: none;
    color: white;
}
/* курсы */
.curs{
    height: auto;
    padding: 3% 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.android{
    background: url('https://globaxi.ru/Content/img/background.jpg') center/cover no-repeat;
    width: 40%;
    height: auto;
    text-align: center;
    padding: 2%;
    position: relative;
    transition: .5s;
    color: white;
    box-shadow: 0 -25px 40px grey;
}
.android img{
    width: 40%;
    margin: auto;
}
.fron_end{
    transition: .5s;
    width: 40%;
    height: auto;
    padding: 2%;
    position: relative;
    background: url('https://globaxi.ru/Content/img/background.jpg') center/cover no-repeat;
    color: white;
    box-shadow: 0 -25px 40px grey;
}       
.fron_end img{
    width: 100%;
}
.title{
    position: absolute;
    bottom: 0;
}
/*  */
.nujno_obichenia{
    padding: 2% 7%;
}
.ntb{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 40vh;
}
.ntb_text{
    width: 40%;
}
.ntb_img{
    width: 40%;
}
/*  */
.content_title{
    margin: 5% 0 2% 0;
}
.uslovia{
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.uslovia1{
    width: 30%;
}
.uslovia1 i{
    font-size: 30px;
    background: rgb(147,176,255);
    background: linear-gradient(332deg, rgba(147,176,255,1) 22%, rgba(74,126,255,1) 44%, rgba(0,112,255,1) 68%);
}
.uslovia1 div h1{
    font-size: 20px;
}